* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    color: white;
}

img {
    width: 20vw;
    border-radius: 60px;
    margin: 20px;
}

button {
    border: none;
}

.standard-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.answer-box {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.description {
    width: 50%;
    text-align: center;
}

#answer {
    font-size: 62px;
    padding: 10px;
}

#subanswer {
    font-style: italic;
}

.info {
    padding: 10px;
}

.standout {
    padding: 15px;
    font-size: x-large;
    font-weight: bolder;
    color: red;
}

.survey {
    padding: 10px 25px;
    margin: 15px;
    background-color: darkred;
    border-radius: 20px;
}

.button-link {
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

.footer {
    margin-top: 45vh;
    margin-bottom: 15vh;
}

.social {
    color: white;
    font-weight: bolder;
    font-size: large;
}

.social_button {
    padding: 10px 25px;
    margin: 15px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    width: 30px;
    margin: 0;
    padding-right: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .description {
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    .description {
        width: 75%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}